@using ViewsExample.Models

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["appTitle"]</title>
	<meta charset="UTF-8" />
</head>
<body>
	<h1>Welcome</h1>
	@{
		List<Person>? people = (List<Person>?)ViewData["people"];
	}

	@foreach (Person person in people)
	{
		<div>
		@person.Name
			<span>, </span>
			<span>@person.PersonGender</span>
		@if (person.DateOfBirth != null)
		{
			<span>@person.DateOfBirth.Value.ToString("MM-dd-yyyy")</span>
		}
		</div>
	}

</body>
</html>
